.card {
	float: left;
	/*margin-right: 50px;*/
	margin-top: 20px;
	width: 100%;
	padding-left: 20px;
}

.card input {
	text-align: center;
	color: #ffc107!important;
}

.analysis {
	margin-bottom: 0;
	font-size: 20px;
}

.fill-question {
	font-weight: 600;
	font-size: 24px;
	/*margin: 0;*/
	letter-spacing: 5px;
}

.fill-question input {
	width: 100px;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	outline: medium;
}